html, body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

footer {
  padding: 30px 0;
}

.list-group-item.active {
   background-color: #4A90E2;
}

.bg-dark {
   background-color: #0F2035!important;
   border-color: #e7e7e7;
}

table th {
	color: #eceeef;
	background-color: #4A90E2;
	border-color: #4A90E2;
}

/* Counter Headings Local */
body {
counter-reset : h1;
    }

h1 {
counter-reset : h2;
    }

h2 {
counter-reset : h3;
    }

h3 {
counter-reset : h4;
    }

h4 {
counter-reset : h5;
    }

h5 {
counter-reset : h6;
    }

#content h1:before {
content : counter(h1,decimal) ". ";
counter-increment : h1;
    }

#content h2:before {
content : counter(h1,decimal) "." counter(h2,decimal) ". ";
counter-increment : h2;
    }

#content h3:before {
content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) ". ";
counter-increment : h3;
    }

#content h4:before {
content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
counter-increment : h4;
    }

#content h5:before {
content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
counter-increment : h5;
    }

#content h6:before {
content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
counter-increment : h6;
    }

h1.nocount:before, h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
content : "";
counter-increment : none;
    }

table {
    margin-left: 35px;
}

th, td {
    border: 1px solid black;
}

td {
    padding: 4px;
}

/*Forums*/
textarea{
    font-family: monospace;
    font-size: 1.2em;
}
input#comments{
    font-family: "Inconsolata", "monaco", "droid sans mono",fixed;
}
input#comments{
    font-family: "Inconsolata", "monaco", "droid sans mono",fixed;
}

pre {
    padding-left: 30px;
}

/*
comment out now that isatables have been fixed
code {
  font-family: Consolas,"courier new";
  display: block;
  white-space: pre-wrap
}
*/

/* add colors as classes allowing markdown files to generate colored text */
.color-000 {
    color: #000;
}

.color-008 {
    color: #008;
}

.color-00F {
    color: #00F;
}

.color-080 {
    color: #080;
}

.color-088 {
    color: #088;
}

.color-0F0 {
    color: #0F0;
}

.color-0FF {
    color: #0FF;
}

.color-800 {
    color: #800;
}

.color-808 {
    color: #808;
}

.color-880 {
    color: #880;
}

.color-888 {
    color: #888;
}

.color-CCC {
    color: #CCC;
}

.color-F00 {
    color: #F00;
}

.color-F0F {
    color: #F0F;
}

.color-FF0 {
    color: #FF0;
}

.color-FFF {
    color: #FFF;
}

/*
 * MEPY:
 * Style for the notebox div element
 * for use with the ikiwiki note template
 */
.notebox {
	background-color: #FFFFCC;
	border-radius: 3px;
	padding: 10px 1em;
	border: 1px solid #f4f228;
	margin: 10px 0;
}
