body{
	font-family:arial,sans-serif; 
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
    background-color: #fff8ff;
    color: #00000;
    width: 100%;
}
.actions{
	font-family:arial,sans-serif; 
	font-size: .95em;
	text-align: left;
}
#content{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
    width: 100%;
}
.pagedate{
	font-family: times;
	font-size: .8em;
}

/*Elements*/
hr{
	width: 50%;
	border: solid 1px black;
}
blockquote{
	border: dashed 1px;
	padding-left: 20px;
	margin-left: 15px;
	background-color: #ccc;
}
p{
	margin-bottom: 1.2em;
	margin-left: 1.5em;
}
ol{
	margin-left: 2em;
}
/* Headings */

.pageheader { min-height: 100px; overflow: auto; }
.header {
    height: 50px;
    background: #4b6983;
    border: 2px solid #7590ae; 
    padding: 10px; 
    color: #ffffff; 
    font-family: sans-serif;
    width: 100%;
}
.header a { margin-right: 1ex; color: #ffffff; font-family: sans-serif;}

/*.header{
	font-family: georgia;
	font-size: 1.25em;
	line-height: 1em;	
	font-weight: bolder;
}
*/
h1{
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
	margin-left: 1em;
	text-indent: -1em;
}
h2{
	font-size: 1.4em;
	line-height: 1em;	
	font-weight: bold;
	margin-left: 1em;
	text-indent: -1em;
}
h3{
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1em;
	margin-left: 1em;
	text-indent: -1em;	
}
h4{
	font-size: 1.2em;	
	font-weight: bold;
	line-height: 1em;
	margin-left: 1em;
	text-indent: -1em;
}
h5{
	font-size: 1.1em;	
	font-weight: bold;
	line-height: 1em;
	margin-left: 1em;
	text-indent: -1em;
}
h6{
	font-size: 1em;	
	font-weight: bold;
	line-height: 1em;
	margin-left: 1em;
	text-indent: -1em;
}
/*Forums*/
form{
	font-size: .9em;
	font-family: "Inconsolata", "monaco", "droid sans mono",fixed;
	margin-left: 0em;
	margin-top: 1.2em;
	padding-bottom: 2em;
}
textarea{
	font-family: "Inconsolata", "monaco", "droid sans mono",fixed;
   	font-size: .9em;
        border: solid 1px;
	width: 100%;
	margin-bottom: 10px;
}
input#comments{
	font-family: "Inconsolata", "monaco", "droid sans mono",fixed;
	font-size: .9em;
	width: 550px;
	line-height: 1em;
	background-color: #fff;
	border: solid 1px;
}
input#comments{
	font-family: "Inconsolata", "monaco", "droid sans mono",fixed;
	font-size: .9em;
	width: 550px;
	line-height: 1em;
	background-color: #fff;	
        border: solid 1px;
}
input[type="submit"]{
	font-family: 
	font-size: .9em;
	font-weight: bold;
	line-height: 1em;
	background-color: #ddd;	
	margin-right: 1.1em;
	margin-top: 10px;
	padding: 3px;
	text-align: center;
	width: 9.5em;
        border: solid 1px;
}

#blogform input[name="title"]{
	font-family: "inconsolata", "monaco", "droid sans mono",fixed;
	font-size: .9em;
	line-height: 1.2em;
	font-size: 1.1em;
	margin-left: .4em;
	margin-right: .4em;
        border: solid 1px;
}
#blogform input[type="submit"]{
	font-family: "Inconsolata", "monaco", "droid sans mono",fixed;
	font-size: .9em;
	line-height: 1em;
	font-size: 1em;
	background-color: #ddd;
        border: solid 1px;
}
div.thumb {
    margin-bottom: .5em;
    border-style: solid;
    border-color: white;
    width: auto;
}
div.thumbinner {
    border: 1px solid #ccc;
    padding: 3px !important;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
html .thumbimage {
    border: 1px solid #ccc;
}

img.thumbborder {
    border: 1px solid #dddddd;
}

div.tright {
    clear: right;
    float: right;
    border-width: .5em 0 .8em 1.4em;
}

pre {
    margin-left: 45px;
}


table {
    margin-left: 35px;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 4px;
}
